.home-container{
    height: 100vh;
    width: 100vw;
    margin: 1em 1em;
    display:flex;
    flex-direction: row;
    background-color: rgb(27, 118, 203);
}

.section{
    height: 100vh;
    width:50vw;
    border:2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#left-section{
    width: 30vw;
    flex-direction: column;
}

#right-section{
    width: 70vw;
    flex-direction: column;
}



.btn{
    position: relative;
    z-index: 10;
    width: 200px;
    height: 60px;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 30px;
    background-color: rgba(255,255,255,0.1);
    color: #fff;
    font-size: 1.25rem;
    letter-spacing: 1px;
    backdrop-filter: blur(10px);
    outline: none;
    cursor: pointer;
    margin:1.5em 1.5em;
}
.btn::before{
    position: absolute;
    top: 15px;
    left: 50px;
    z-index: -1;
    width: 100px;
    height: 30px;
    border-radius: 50px;
    background-color: #11bfeb;
    filter: blur(10px);
    content: "";
    transition: 0.5s;
}
.btn:hover::before{
    transform: scale(2);
}